<div>
    <div>
        Oops. Looks like you don't have an active reservation with us. If you believe this is in error, please contact <a href="mailto:ops@topspectrum.com">ops@topspectrum.com</a>
    </div>
    <div>
        {{#link-to 'step-enter-email'}}
            Home
          {{/link-to}}
    </div>
</div>