*.iml
target/
src/main/javascript/node_modules/
src/main/javascript/bower_components/
src/main/javascript/dist/
src/main/javascript/tmp/
src/main/webapp/static/assets/
.idea/
libraries/
.name
node_modules/

