<div>
{{#validated-input type="email" label="Enter your email address" data-minlength="3" id="domainName" tabindex="0" autocomplete="off" placeholder="" value=model.email enter='next'}}
      <div class="pull-out" style="position: relative;">

        <div class="btn-add-controls hidden-xxs">
            {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='next' disabled=isInvalid }}
              Next
          {{/ladda-button}}
        </div>
    </div>
{{/validated-input}}
</div>

<div class="pull-right visible-xxs-block">
  {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='next' disabled=isInvalid }}
      Next
  {{/ladda-button}}
</div>