<div class="steps col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="step active">
        <div>
            <h1>All done!</h1>

            <p>
                You will receive an email with more information.
            </p>
        </div>
    </div>
</div>