/*/!* Helpers *!/*/
@import (reference) "bootstrap/variables";
@import (reference) "bootstrap/mixins/vendor-prefixes";
@import (reference) "site-colors";

// We are "Mobile First" which means we should write Mobile CSS before writing desktop css.

// <<<<<Basic Homepage Scaffolding>>>>>>>

.navbar {
    background-color: white;

    .navbar-brand {
        color: #272727;
        font-weight: 600;
        font-size: 1.5rem;
        //line-height: 34px;
        //padding: 18px;
        height: auto;
    }

    .navbar-toggle {
        border: none;
        color: black;
        padding: 1px;
        line-height: 30px;
        font-size: 25px;
    }
}

#page {
    height: 100%;
    min-height: 100%;
    display: table;
    table-border-color-dark: black;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 2rem;

    //background-color: #C8D7E0;
    //background-image: -webkit-radial-gradient(#C8D7E0, #7ba5cb);
    //background-image: radial-gradient(#C8D7E0, #7ba5cb);

    header {
        display: table-row;
        width: 100%;

        .navbar {
            margin-bottom: 0;
        }
    }

    #wrapper {
        display: table-row;
        height: 100%;
        width: 100%;

        section {
            padding-top: @navbar-margin-bottom / 2;
            display: table-cell;

            @media screen and @media-xs-atleast {
                padding-top: @navbar-margin-bottom;
            }
        }
    }
}

@media screen and @media-sm-atleast {
    #wrapper {
        padding-bottom: 50px;
        //overflow:auto;
    }
}

footer {
    position: relative;
    clear: both;
    height: 2.2rem;
    margin-top: -2.2rem;
    line-height: 2.2rem;
}

// <<<<<Basic Homepage Scaffolding>>>>>>>

#content {
    .nav-pills {
        display: -webkit-flex;
        display: flex;

        -webkit-flex-direction: row;
        flex-direction: row;

        -webkit-justify-content: space-between;
        justify-content: space-between;

        margin-bottom: 25px;
    }

    .nav:before, .nav:after {
        content: none;
    }

}

.vert_flex_container {
    display: -webkit-flex !important;
    display: flex !important;

    -webkit-flex-direction: column !important;
    flex-direction: column !important;

    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;

    height: 100%;
}

.flex_top {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.steps > .step {
    display: none;
}

.steps > .active {
    display: block;
}

//@media screen and @media-xxs-only {
//  .steps {
//    margin: 0 @grid-gutter-width/2;
//  }
//}

//@media screen and @media-xs-only {
//  .steps {
//    margin: 0 @grid-gutter-width/2;
//  }
//}

@media screen and @media-xxs-only {
    .pull-out {
        margin-left: -@grid-gutter-width/2;
        margin-right: -@grid-gutter-width/2;
    }
}

.form-control {
    margin: .3rem 0 0 0;
    font-weight: 400;
    padding: 0.5rem 1rem 0.5rem 0.7rem;

    height: auto;
    color: @dark-gray;
    border: 4px solid @off-white;
    background-color: @light-blue;

    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;

    .placeholder(darken(@secondary-color, 5%));
}

.eac-sugg {
    color: lighten(@dark-gray, 20%);
}

.form-group {
    position: relative;
    //display:inline-block;
    //width:100%;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.step .form-group, .step .form-group .form-control {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.428571429;
    border-width: 6px;
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    margin: .3rem 0 0;

    //@media @media-xs-only {
    //    line-height: 1;
    //}

    @media @media-xxs-only {
        font-size: 1.7rem;
        padding-left: 0;
        padding-right: 0;
        line-height: 1.2;

        margin-bottom: -0px !important;
    }
}

.form-control {
    font-size: inherit;
    line-height: 1.428571429;
}

h1, label[for=domainName] {
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0.85;
    padding-top: 0.25rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: @dark-gray2;
    font-size: 1.8rem;
}

.btn-primary {
    background: @orange;
    text-transform: uppercase;
    color: @off-white;
    font-size: 2rem;
    font-weight: 500;
    border: none;

    &:focus {
        background-color: @orange
    }

    &:hover {
        background-color: darken(@orange, 10%)
    }

    &:active, &:active:hover, &:active:focus {
        background-color: darken(@orange, 30%)
    }

    &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active,
    &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
        background-color: @dark-gray2;
        color: @light-gray;
    }
}

.shopping-cart-full .btn-add:not(.disabled), .shopping-cart-full.available .btn-checkout {
    background-color: darken(@orange, 20%);
}

.shopping-cart-full.available .btn-add:not(.disabled) {
    background-color: @orange;
}

.btn-add-controls {
    position: absolute;
    top: -4.7rem;
    right: .77rem;
    height: 4rem;

    & > .btn {
        height: 100%;
        width: 100%;
        display: block;
    }

    @media @media-xxs-only {
        position: relative;
        top: auto;
        clear: both;
        margin-top: 15px;
        margin-right: 10px;

        & > .btn {
            display: inline-block;
            width: auto;
            float: right;
        }
    }
}

.btn-copy-controls {
    position: absolute;
    margin-top: @grid-gutter-width/4;
    top: 0;
    right: @grid-gutter-width/2 + 5px;
    height: 2.6rem;
    //width: 90px;

    & > .btn {
        font-size: 1.5rem;
        line-height: 1;

        height: 100%;
        width: 100%;
        display: block;
    }

    @media @media-sm-only {
        top: -4px;
        height: 36px;
    }

    @media @media-xs-only {
        margin-top: 0;
        height: 36px;
    }

    @media @media-xxs-only {
        position: relative;
        top: auto;
        width: 100%;
        clear: both;
        margin-top: 15px;
        //margin-right: 10px;
        right: 0;
        height: 45px;

        & > .btn {
            display: inline-block;
            width: auto;
            float: right;
        }
    }
}

//.btn-add {
//  position: absolute;
//  top: .6rem;
//  right: .6rem;
//  //width: 90px;
//  height: 4rem;
//}

.form-group.has-error .form-control {
    border-color: #a94442;

    &:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #843534;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #843534;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #843534;
    }
}

.with-errors.if-success, .with-errors.if-error {
    display: none;
}

.has-error .help-block.with-errors.if-error {
    display: block;
}

.has-success .help-block.with-errors.if-success {
    display: block;
}

.form-group > .twitter-typeahead {
    width: 100%;
}

// Wizard - Step 1

.h-underline {
    display: inline-block;
    //font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 7px 0;
    border-bottom: 2px solid;
}

.availability-status {
    .h-underline;

    display: none;
    //font-size: 1.5rem;
    text-align: center;

    @media @media-xxs-only {
        width: 100%;
    }
}

.availability-status span {
    white-space: nowrap;
}

.available .availability-status[data-value=true],
.vip .availability-status[data-value=vip],
.dupe .availability-status[data-value=dupe],
.reserved .availability-status[data-value=reserved],
.unavailable .availability-status[data-value=false] {
    display: inline-block;
    //font-size: 1.5rem;
    text-align: center;
    padding: 3px 7px;
}

.availability-status[data-value=true] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(56, 142, 60, .57) !important;
}

.availability-status[data-value=false] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(244, 67, 54, .57) !important;
}

.availability-status[data-value=vip] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(244, 67, 54, .57) !important;
}

.availability-status[data-value=dupe] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(255, 238, 88, .57) !important;
}

.availability-status [data-field="fullDomainName"] {
    font-weight: bold;
}

#shopping-cart, .space-hog {
    .vert_flex_container;
    justify-content: center !important;
    //display:block;
    min-height: 6rem;
}

.space-hog {
    min-height: 2rem;
}

#shopping-cart > div {
    padding: 5px;
    margin: 5px;
    font-size: 1.4rem;
    vertical-align: middle;
    background-color: rgba(123, 165, 203, 0.5);
    border: 1px solid rgba(123, 165, 203, 0.5);

    [data-field="fullDomainName"], [data-field="price"] {
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.space-hog {

}

.checkout {
    display: none;
}

.shopping-cart-full .checkout {
    display: block;
}

.neutral {
    background: #f0f2f5;
    color: #777B87;
}

html, button, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

//.mt {
//  margin-top: @grid-gutter-width/2 !important;
//}
//.mb {
//  margin-bottom: @grid-gutter-width/2 !important;
//}

@media screen and @media-xs-only {
    .xs-mb {
        margin-bottom: @grid-gutter-width !important;
    }

    .xs-mb2 {
        margin-bottom: @grid-gutter-width/2 !important;
    }

    .xs-mb3 {
        margin-bottom: @grid-gutter-width/3 !important;
    }

    .xs-mb4 {
        margin-bottom: @grid-gutter-width/4 !important;
    }
}

@media screen and @media-xxs-only {
    .xxs-mb {
        margin-bottom: @grid-gutter-width !important;
    }

    .xxs-mb2 {
        margin-bottom: @grid-gutter-width/2 !important;
    }

    .xxs-mb3 {
        margin-bottom: @grid-gutter-width/3 !important;
    }

    .xxs-mb4 {
        margin-bottom: @grid-gutter-width/4 !important;
    }

    .xxs-mt {
        margin-top: @grid-gutter-width !important;
    }

    .xxs-mt2 {
        margin-top: @grid-gutter-width/2 !important;
    }

    .xxs-mt3 {
        margin-top: @grid-gutter-width/3 !important;
    }

    .xxs-mt4 {
        margin-top: @grid-gutter-width/4 !important;
    }

    .form-group {
        .xxs-mb4;
    }
}

// Form Feedback
.must-clear-to-edit .btn-clear {
    position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    //pointer-events: none;
}

.form-control-feedback, .must-clear-to-edit .btn-clear {
    display: none;
    line-height: 1.428571429;
    margin-top: 11px;
    right: 11px;
}

.has-feedback, .must-clear-to-edit {
    .form-control {
        padding-right: 0;
    }
}

.has-feedback.has-success, .has-feedback.has-error {
    .form-control-feedback {
        display: block;
    }
    //.form-control { padding-right: 34px; }

    // I disabled this, but I'm concerned I might have made a mistake. Why do we want to hide it?
    //&.must-clear-to-edit .btn-clear {
    //  display:none;
    //}
}

.must-clear-to-edit.clearable {
    .btn-clear {
        display: block;
    }
    .form-control {
        padding-right: 34px;
    }
}

.form-control[disabled] {
    background-color: @dark-blue3;
    color: rgba(255, 255, 255, .8);
}

.step.finish {
    .description {
        display: none;
    }

    &.ready {
        .description-ready {
            display: block;
        }
    }
    &.success {
        .description-success {
            display: block;
        }
    }
    &.failure {
        .description-failure {
            display: block;
        }
    }
    &.problem {
        .description-problem {
            display: none;
        }
    }
}

.has-card-icon {
    .card-icon {
        position: absolute;
        top: 7px;
        left: 7px;
        display: inline-block;
        background: none;
        height: 32px;
        width: 32px;
    }

    .form-control.identified {
        padding-left: 40px;

        &.mastercard + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/mastercard_32.png');
        }
        &.visa + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/visa_32.png');
        }
        &.visaelectron + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/visa_32.png');
        }
        &.maestro + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/maestro_32.png');
        }
        &.amex + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/american_express_32.png');
        }
        &.dinersclub + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/diners_club_32.png');
        }
        &.discover + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/discover_club_32.png');
        }
        &.unionpay + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/china_union_pay_32.png');
        }
        &.jcb + .card-icon {
            background: url('//www.cdn.feedback/img/cards/32/jcb_32.png');
        }
    }
}

.has-error .help-block {
    margin-top: @grid-gutter-width / 3;
}

.address-autocomplete-feedback .address-autocomplete-feedback-ok {
    position: absolute;
    top: 11px;
    left: 11px;
    display: none;
    color: white;
}

.circle {
    background: rgba(60, 118, 61, .8);
    //background: rgba(0,150,136, .8);
    padding: 3px;
    border-radius: 100%;
    color: white;
}

.address-autocomplete-feedback.disabled {
    .address-autocomplete-feedback-ok {
        display: block;
    }

    .form-control {
        padding-left: 35px;
    }
}

.visible-if-saved .row-saved, .visible-if-saved .row-unsaved {
    width: 100%;
    display: none;
}

.visible-if-saved.saved .row-saved, .visible-if-saved:not(.saved) .row-unsaved {
    display: block;
}

tfoot {
    font-weight: bold;
}

// Used by the step-finish to show/hide the coupon button.
.must-clear-to-edit {
    .btn-add {
        display: none;
    }

    &.has-content .btn-add {
        display: block;
    }

    &.has-success .btn-add, &.has-error .btn-add {
        display: none;
    }
}

.has-feedback .form-control-feedback-success {
    position: absolute;
    top: 11px;
    //left: 11px;
    display: none;
    //color: white;
}

.has-feedback.has-feedback-left {
    .form-control-feedback {
        left: 11px;
        top: 0;
        right: auto;
        //line-height: 1.3rem;
        display: none;
        width: auto;
        height: auto;
    }

    &.has-error, &.has-success {
        .form-control {
            padding-left: 34px;
        }
    }
}

.has-feedback {
    &.has-success .form-control-feedback-success {
        display: block;
    }

    &.has-error .form-control-feedback-error {
        display: block;
    }
}

.whois-source-block {
    line-height: 50px;
    color: #333333;
    font-size: 1.2rem;

    > span {
        font-weight: bold;
        text-decoration: underline;
    }

    @media @media-xs-atmost {
        padding: 1.5rem 0;
        line-height: 2rem;
    }
}

.full-domain-name-block {
    @media @media-sm-atmost {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.modal .form-control {
    background-color: inherit !important;
    border-color: inherit !important;
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
}
