<input id="internetbs" type="radio" class="labelauty" name="registrar" value="Internet.BS" checked>
<label for="internetbs">
    <span class="labelauty-image labelauty-checked-image"></span>
    <span class="labelauty-image labelauty-unchecked-image"></span>
    <span class="labelauty-label">Internet.BS</span>
</label>


<!--<input id="uniregistry" type="radio" class="labelauty" name="registrar" value="UniRegistry">-->
<!--<label for="uniregistry">-->
    <!--<span class="labelauty-image labelauty-checked-image"></span>-->
    <!--<span class="labelauty-image labelauty-unchecked-image"></span>-->
    <!--<span class="labelauty-label">Uniregistry</span>-->
<!--</label>-->

<input id="webnames" type="radio" class="labelauty" name="registrar" value="Webnames">
<label for="webnames">
    <span class="labelauty-image labelauty-checked-image"></span>
    <span class="labelauty-image labelauty-unchecked-image"></span>
    <span class="labelauty-label">Webnames</span>
</label>

<input id="instra" type="radio" class="labelauty" name="registrar" value="Instra">
<label for="instra">
    <span class="labelauty-image labelauty-checked-image"></span>
    <span class="labelauty-image labelauty-unchecked-image"></span>
    <span class="labelauty-label">Instra</span>
</label>

<input id="101Domain" type="radio" class="labelauty" name="registrar" value="101Domain">
<label for="101Domain">
    <span class="labelauty-image labelauty-checked-image"></span>
    <span class="labelauty-image labelauty-unchecked-image"></span>
    <span class="labelauty-label">101Domain</span>
</label>

<!--<input id="NameCheap" type="radio" class="labelauty" name="registrar" value="NameCheap">-->
<!--<label for="NameCheap">-->
    <!--<span class="labelauty-image labelauty-checked-image"></span>-->
    <!--<span class="labelauty-image labelauty-unchecked-image"></span>-->
    <!--<span class="labelauty-label">NameCheap</span>-->
<!--</label>-->

<!--<input id="CSC Digital Brand services" type="radio" class="labelauty" name="registrar" value="CSC">-->
<!--<label for="CSC Digital Brand services">-->
    <!--<span class="labelauty-image labelauty-checked-image"></span>-->
    <!--<span class="labelauty-image labelauty-unchecked-image"></span>-->
    <!--<span class="labelauty-label">CSC Digital Brand services</span>-->
<!--</label>-->

<!--<input id="Markmonitor" type="radio" class="labelauty" name="registrar" value="Markmonitor">-->
<!--<label for="Markmonitor">-->
    <!--<span class="labelauty-image labelauty-checked-image"></span>-->
    <!--<span class="labelauty-image labelauty-unchecked-image"></span>-->
    <!--<span class="labelauty-label">Markmonitor</span>-->
<!--</label>-->

<div>
  {{#ladda-button class='btn btn-primary' action='innerNext' spinning=spinning disabled=disabled}}
      Finish
  {{/ladda-button}}
</div>