<div class="radio">
    <label>
        <input type="radio" name="registrar" checked="checked" value="Internet.BS"> Internet.BS (default)
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="UniRegistry"> UniRegistry
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="Webnames"> Webnames
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="Intra"> Intra
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="101Domain"> 101Domain
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="NameCheap"> NameCheap
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="CSC"> CSC Digital Brand services
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="registrar" value="Markmonitor"> Markmonitor
    </label>
</div>

<div>
  {{#ladda-button class='btn btn-primary' action='innerNext' spinning=spinning disabled=disabled}}
      Finish
  {{/ladda-button}}
</div>