<div class="steps col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="step active">
        <div>
            <h1>Which registrar would you like?</h1>

            {{registrar-list action='innerNext' spinning=spinning}}
        </div>
    </div>
</div>