<div class="steps col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="step active">
        <h3>{{#if model.suggestedReservationMode}}Suggestion Email Sent{{else}}Verification Email Sent{{/if}}</h3>

        {{#if model.suggestedReservationMode}}
            An email has been sent to <strong>{{model.email}}</strong> with further instructions.
        {{else}}
            Check your email. We sent an email verification link to <strong>{{ model.email }}</strong>.

            Click the verification link to complete your purchase.
        {{/if}}
    </div>
</div>