<?xml version="1.0" encoding="UTF-8"?>
<!--

This file contains overrides that are used for unit tests.

-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application-test.properties" ignore-unresolvable="true"/>

    <beans profile="test">
        <!-- Creates the datasource bean. (Overrides the one in the global applicationContext. -->
        <jdbc:embedded-database id="dataSource" type="HSQL">
            <jdbc:script location="classpath:schema/price_tier.schema" />
            <jdbc:script location="classpath:schema/reservation.schema" />
            <jdbc:script location="classpath:schema/reservation_customer.schema"/>
        </jdbc:embedded-database>

        <bean id="stripeSetupBean" class="com.topspectrum.billing.stripe.StripeSetupBean">
            <property name="apiKey" value="sk_test_oAiy0vuBYLrCYxkz9TGpPTrT"/>
        </bean>

        <bean id="templatedMailService" class="com.topspectrum.mail.MockTemplatedMailService">

        </bean>

        <bean id="currentSkinService" class="feedback.register.web.services.MockCurrentSkinService">
            <property name="skin">
                <bean class="feedback.register.web.models.Skin">
                    <property name="addressStreet" value="9365 57th Ave S"/>
                    <property name="addressCity" value="Seattle"/>
                    <property name="addressState" value="WA"/>
                    <property name="addressZipcode" value="98118"/>
                    <property name="addressCountry" value="USA"/>
                    <property name="disclaimerDocumentId" value="1szJ7fbLFr6V6Qhie5ifUvrZbninZl9w9Ytj8ThEwJ9k"/>
                    <property name="fullDomainName" value="register.michael"/>
                    <property name="topLevelDomainName" value="michael"/>
                    <property name="displayName" value="Register dot Michael"/>
                    <property name="customerDomainName" value="register"/>
                    <property name="myserviceHref" value="www.myservice.michael"/>
                    <property name="supportEmail" value="support@register.michael"/>
                </bean>
            </property>
            <property name="parsedDomainParts">
                <bean class="com.topspectrum.registry.ParsedDomainParts">
                    <constructor-arg index="0" value="register.michael"/>
                    <constructor-arg index="1" value="register"/>
                    <constructor-arg index="2" value="michael"/>
                </bean>
            </property>
        </bean>

    </beans>
</beans>