<?xml version="1.0" encoding="UTF-8"?>
<!--

This file contains overrides that are used for unit tests.

-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application-test.properties" ignore-unresolvable="true"/>

    <import resource="common-mail.xml"/>

    <beans profile="test">

        <context:annotation-config/>

        <bean id="slackServiceExecutor"
              class="com.topspectrum.executors.ExecutorUtils" factory-method="newScheduledExecutorService"/>

        <!--<bean class="com.topspectrum.cache.DefaultDependencyCacheService"/>-->
        <bean class="com.topspectrum.cache.MemoryCachedDependencyManager"/>
        <bean class="org.springframework.cache.guava.GuavaCacheManager"/>

        <bean class="feedback.web.services.NullHostedContentService"/>

        <!-- Creates the datasource bean. (Overrides the one in the global applicationContext. -->
        <jdbc:embedded-database id="freeDataSource" type="HSQL">
            <jdbc:script location="classpath:schema/price_tier.schema"/>
            <jdbc:script location="classpath:schema/reservation.schema"/>
            <jdbc:script location="classpath:schema/reservation_customer.schema"/>
            <jdbc:script location="classpath:schema/reservation_account_domain.sql"/>
            <jdbc:script location="classpath:schema/free_reservation.sql"/>
            <jdbc:script location="classpath:schema/free_reservation_account.sql"/>
            <jdbc:script location="classpath:schema/email_log.sql"/>
            <jdbc:script location="classpath:schema/whois_record.sql"/>
            <jdbc:script location="classpath:schema/pending_verification_token.schema"/>
        </jdbc:embedded-database>

        <jdbc:embedded-database id="dataSource" type="HSQL">
            <jdbc:script location="classpath:schema/price_tier.schema"/>
            <jdbc:script location="classpath:schema/reservation.schema"/>
            <jdbc:script location="classpath:schema/site.schema"/>
            <jdbc:script location="classpath:schema/reservation_customer.schema"/>
            <jdbc:script location="classpath:schema/email_log.sql"/>
        </jdbc:embedded-database>

        <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="database" value="HSQL"/>
            <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/>
            <!--<property name="database" value="MYSQL"/>-->
            <!--<property name="databasePlatform" value="org.hibernate.dialect.MySQL57InnoDBDialect"/>-->
            <property name="showSql" value="true" />
        </bean>
    </beans>
</beans>